.register-container {
	width: 300px;
	margin: 50px auto;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #ddd;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-container h2 {
	margin-top: 0;
}

.register-container form {
	margin-top: 20px;
}

.register-container label {
	display: block;
	margin-bottom: 10px;
}

.register-container input[type="text"], .register-container input[type="email"], .register-container input[type="password"] {
	width: 80%;
	height: 20px;
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #ccc;
}

.register-container button[type="submit"] {
	background-color: #ff69b4;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 18px;
	cursor: pointer;
}

.register-container button[type="submit"]:hover {
	background-color: #333;
}

.register-container p {
	margin-top: 20px;
}

.register-container a {
	color: #ff69b4;
	text-decoration: none;
}